*{margin: 0px;padding: 0px;}

body {

    font-family:"Myriad Pro", "Trebuchet MS", Arial, sans-serif;
    font-size: 13px;
    color: #444;
    line-height: 1.5;
}

#top{
    width:100%; 
    height:80px;
    background-image:url(../imagenes/top-bg.png);
    text-align: center;
    margin: auto;
}

#pie{
    width:100%; 
    height:35px;
    color: #fff;
    background-image:url(../imagenes/top-bg.png);
    text-align: center;
    margin: auto;	
    padding-top: 8px;
    position: fixed;
    bottom:0px;
}

h1{
    /* background-color:#666; */
    color:#3F6592;
    /* border-left: 30px solid #fc0; */
    margin:20px auto;
    padding:10px;
    text-align: center;

}

.panel-visitas {
    background-color: #E7F8FF;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















